<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591543959204-7v9ams47b4jj324vd6cdmg7hlbt7ua07.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591543959204-7v9ams47b4jj324vd6cdmg7hlbt7ua07</string>
	<key>API_KEY</key>
	<string>AIzaSyDi0hUJVmfpYtRUxmpFEzRAv1yncPjFf_I</string>
	<key>GCM_SENDER_ID</key>
	<string>591543959204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.comp.Search-Image-Recognition</string>
	<key>PROJECT_ID</key>
	<string>search-image-recognition</string>
	<key>STORAGE_BUCKET</key>
	<string>search-image-recognition.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591543959204:ios:df2e66c481236cf169b031</string>
</dict>
</plist>